@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    color: rgb(19, 17, 17);
    margin:1rem auto;
    padding: 0;
    max-width: 500px;  
  }
  
  .header {
    height: 230px;
    background-color: #6389e3;
    position: relative;
  }

  .hero {
    text-align: center;
  }  
  
  nav {
    margin:1rem auto;
    width: 100%;
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
  }
  
  .nav-ul {
    list-style-type: none;
    margin:0;
    padding:0;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color:aliceblue;
    text-decoration: none;
    font-weight: 600;
  }
  
  .nav-link:focus {
    background-color: #df955496;
    color:orange;
  }
  
  .nav-link:hover {
    background-color: #e46eb552;
    color:#555;
  }
  
 .comments-username-logo-container {
    display:flex;
    align-items: center;  
    flex-wrap: wrap;  
  }

  .comment-username-logo-date { 
    margin: 5px;
    flex-direction: row;
    justify-content: flex-start;
  }

  #comment-date {
    font-size: 0.8rem;
    color: rgb(87, 70, 48);
  }

  .container-each-comment {
    padding: 15px;
  }

  .comment-votes {
    display: flex;
    margin: 5px;
    flex-direction:row-reverse;       
  }

  .comment-votes-item {
    text-align:justify;
    display: inline-block;  
    padding-inline: 5px;
    
  }